body {
    margin: 0px;
}

@media only screen and (min-width:900px) {
    /* for desktop */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    /* nav bar css */
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(to right, #f5af19, #f12711);
    }
    .navbar ul li {
        float: left;
    }
    .navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px;
        font-size: 20px;
        font-family: cursive;
        text-decoration: none;
    }
    .navbar ul li a:hover:not(.active) {
        background-color: #111;
    }
    .active {
        background-color: #4CAF50;
    }
    /* //////////////////////////////////////////////////////////////////////// */
    /* Section - 1 styles */
    .sec-1 {
        background: #f12711;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f5af19, #f12711);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 532px;
    }
    .sec-1 h1 {
        margin-block-start: 0px;
        font-size: 70px;
        color: white;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sec-1-1 {
        text-align: justify;
        padding: 160px 200px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        line-height: 20px;
    }
}

/* Css for mobile size */

@media only screen and (min-width:350px) {}